exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.md
include setup.cfg
include requirements.txt
include mql/grammers/reserved.yml
include mql/grammers/tokens.yml
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
